/* ADD UR COLOR/FONT VARIABLE HERE */

:root {
	--Green: #1eaf83;
	--Dark-Blue: #00262e;
	--Eerie-Black: #161919;
	--White: #fff;
	--Font-Main: 'Plus Jakarta Sans';
	--Font-Safe: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
	sans-serif;
}

/* ADD UR COLOR/FONT VARIABLE HERE */

html {
	font-size: 16px;
	font-family: var(--Font-Main), var(--Font-Safe);
}

header,
.brand-logo,
.navigation ul {
	display: flex;
}

header {
	align-items: center;
	justify-content: space-between;
	padding: 0.6rem 3rem;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.brand-logo {
	align-items: baseline;
}

.brand-logo img {
	width: 42px;
	height: 42px;
}

.brand-logo span {
	font-size: 1.8rem;
	font-weight: 600;
}

.navigation ul {
	column-gap: 1rem;
}

.navigation__link a {
	color: var(--Eerie-Black);
	font-weight: 600;
	text-decoration: none;
}

button {
	background-color: var(--Green);
	border-radius: 5rem;
	border: none;
	color: var(--White);
	cursor: pointer;
	font-size: 1rem;
	padding: 0.6rem 1.8rem;
	transition: .25s all ease-in-out;
}

.button--navigation__login {
	background-color: transparent;
	border: 2px solid var(--Green);
	color: var(--Green);
	font-weight: 600;
}

.headline {
	margin-top: 3rem;
	text-align: center;
}

.headline > * {
	margin-bottom: 2rem !important;
}

.headline > :last-child {
	margin-bottom: 0 !important;
}

.headline__title {
	font-size: 4rem;
	font-weight: 600;
	margin: 0 auto;
	width: 600px;
}

.hero__img {
	width: 100%;
	max-height: 560px;
	object-fit: cover;
}
/*  */
/* Styles for about section */
/*  */

.about {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.about__image {
	max-height: 40rem;
	aspect-ratio: 1/1;
}

.about__content {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	height: 100%;
	gap: 2rem;
	justify-content: space-between;
}

.about__content__r1 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about__content__r1 h2 {
	font-size: 2.2rem;
	font-weight: 700;
	color: var(--Green);
}

.learn__more__btn {
	width: auto;
	box-sizing: border-box;
	max-width: fit-content;
}

/* Hovers */

button:hover {
	background-color: hsla(161, 80%, 39%, 0.861);
	transform: scale(1.075);
}

.button--navigation__login:hover{
	transform: scale(1.075);
}

.about__content__r2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.social__links {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.social__media__img {
	height: 2.2rem;
	aspect-ratio: 1/1;
	transition: all .25s ease-in-out;
}

.social__media__img:hover{
	cursor: pointer;
	transform: scale(1.5);
}

@media screen and (max-width: 600px) {
	.headline__title {
		width: auto;
		margin: 3rem;
	}
}
